/*.*
/Cyberpunk2077.exe*
/REDEngineErrorReporter.exe*
!.gitattributes
!.gitignore
!*.code-workspace
!*.json
launcher-configuration.json
!README.md
*.cache
*.exe
!engine/tools/scc.exe
*.log
**/.DS_Store
**/cache
**/db.sqlite3
**/log
archive/pc/content
archive/pc/mod/basegame_AMM_Props.archive
bin/x64/*.*
bin/x64/CrashReporter
bin/x64/d3d12on7
bin/x64/LICENSE
BonusContent
